services:
  stream-score:
    image: ${STREAM_SCORE_IMAGE}
    container_name: stream-score
    network_mode: host
    restart: always

    environment:
      CONFIG_FILE: prod
      DISPLAY: ":0"
      XAUTHORITY: /root/.Xauthority
      QT_X11_NO_MITSHM: "1"
      QT_QPA_PLATFORM: xcb

    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ${HOME}/.Xauthority:/root/.Xauthority:ro
      - ./data:/app/data
      - ./logs:/app/logs

    devices:
      - /dev/input