version: "3.9"

services:
  scoreboard:
    image: ghcr.io/bvision-software/scoreboard:0.1.0
    container_name: scoreboard
    network_mode: host
    restart: always

    environment:
      CONFIG_FILE: prod
      DISPLAY: ${DISPLAY}
      XAUTHORITY: /root/.Xauthority
      QT_X11_NO_MITSHM: "1"
      QT_QPA_PLATFORM: xcb

    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ${HOME}/.Xauthority:/root/.Xauthority:ro
      - ./data:/app/data
      - ./logs:/app/logs

    devices:
      - /dev/input

  edge-agent:
    image: ghcr.io/bvision-software/edge-agent:latest
    container_name: edge-agent
    restart: always
    network_mode: host
    environment:
      FLEET_CONTROLLER_URL: http://78.187.40.81:12000